/*New Year Countdown*/

#countdown {
    border-bottom: 5px solid var(--mainfgcolor);
	/*
	background-color: #777777;
	color: #dd9900;
	*/
}
#countdownheader {
    width: 100%;
    text-align: center;
}
#maincount {
    font-size: 200px;
    width: 100%;
    text-align: center;
	font-weight: 700;
}

/*Snowflake canvas*/

#snowflakescreen {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -100;
}

/*Lower section*/

#lowercontainer {
	display: flex;
	width: 100%;
    height: calc(45vh);
}

/*YT player*/

#ytplayercontain {
	flex-grow: 1;
	flex-shrink: 1;
    width: calc(40vw - 10px);
	height: 100%;
	float: left;
    border: 5px solid var(--mainfgcolor);
}
#ytplayerheader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
	min-height: 30px;
}
#ytplayerifc {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
	height: calc(100% - 30px);
}
#ytplayer {
    width: 100%;
    height: 100%;
}

/*Timezone map*/

#tzmapcontain {
	flex-grow: 1;
	flex-shrink: 1;
    width: calc(60vw - 10px);
	height: 100%;
	float: right;
    border: 5px solid var(--mainfgcolor);
}
#tzmapheader {
    width: 100%;
    text-align: center;
	min-height: 30px;
}
#tzcanvas {
	width: 100%;
    height: calc(100% - 30px);
	background-color: #aaaaaa;
}