/*New Year Countdown*/

#countdown {
    border-bottom: 0.25vw solid var(--mainfgcolor);
}
#countdownheader {
    width: 100%;
    text-align: center;
}
#maincount {
    font-size: 10vw;
    width: 100%;
    text-align: center;
	font-weight: 700;
}

/*For clock mode*/
#sidecount {
    font-size: 2vw;
    width: 100%;
    text-align: center;
	font-weight: lighter;
	margin: 0;
	padding: 0px;
}

/*Snowflake canvas*/

#snowflakescreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
}

/*Lower section*/

#lowercontainer {
	display: flex;
	width: 100%;
    height: 45vh;
}

/*YT player*/

#musiccontain {
	display: flex;
	flex-direction: column;
    width: 39.5vw;
	float: left;
    border: 0.25vw solid var(--mainfgcolor);
}
#musicheader {
    width: 100%;
    text-align: center;
	height: 1.5vw;
	flex: 0 1 auto;
}
#musicplayer {
	flex: 1 1 auto;
}

/*Timezone map*/

#tzmapcontain {
	flex-grow: 1;
	flex-shrink: 1;
    width: 59.5vw;
	height: 100%;
	float: right;
    border: 0.25vw solid var(--mainfgcolor);
}
#tzmapheader {
    width: 100%;
    text-align: center;
	min-height: 1.5vw;
}
#tzcanvas {
	width: 100%;
    height: calc(100% - 1.5vw);
	background-color: #aaaaaa;
}