/*Centered div*/

.center {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

#settings {
    display: grid;
    columns: 2;
}

.settingspart {
    width: 49vw;
    border-bottom: 0.25vw solid var(--mainfgcolor); 
}

#fgset { 
    grid-column: 1;
   
}
#bgset { 
    grid-column: 2;
}
#langset { 
    grid-column: 1;
   
}
#miscset { 
    grid-column: 2;
}

label {
    font-size: 1vw;
}
input[type="range"] {
    width: 30vw;
}